$primary-color: #2C73D2;
$primary-light-color:#E5F0FF;


.button {
   background: $primary-light-color;
   height:50px;
   transition: 0.5s all;
   border-radius:2px;
   display: flex;
   align-items: center;
   justify-content: center;
   width:50px;
   font-size:1.5em;
   color: $primary-color;
   position: relative;
   &.CapsLock,&.ShiftLeft,&.Backspace,&.ShiftRight,&.Enter{
      width:110px;
   }
   &.Space{
      width: 350px;
   }


   &_pressed{
      background-color: $primary-color;
      color: $primary-light-color;
   }

   &__additional-letter{
      color: #95A7DD;
      font-size:0.8em;
      position: absolute;
      top:5px;
      right:5px;
   }
}
