.keyboard{
   display:flex;
   flex-wrap:wrap;
   justify-content: flex-start;
   align-items: space-around;
   background-color:#00BEDB;
   width:900px;
   height:300px;
   gap:10px;
   padding:10px 0 10px 10px;
   border-radius:5px;
}