@import "./components/textarea";
@import "./components/buttons";
@import "./components/keyboard";



body {
   background: gray;
}

.container{
   margin: 0 auto;
   display: flex;
   align-items:center;
   justify-content:space-around;
   flex-direction:column;
   height:90vh;
}